div,p,ul,ol,body,html,img,header,figure,figcaption,h3{
	padding:0;
	margin:0;
}
html,body{
	width: 100%;
}
body{
	font-family: "Microsoft YaHei";
	background:#fff;
	color:#484848;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	width: 100%;
	display: block;
}

.none{
	display: none;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
