header{
	width: 100%;
	height: auto;
	position: relative;
}
header .title{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 2vw 0;
	font-size: 4vw;
	background: rgba(0,0,0,0.6);
	color: #fafafa;
	text-indent: 3vw;
}
header .title .r{
	float: right;
	margin-right: 3vw;
	border-left: 1px solid #fff;
}


#main {
	width: 90%;
	height: auto;
	margin:auto;
	position: relative;
}
#main .kan_img{
	width: 100%;
	margin:auto;
}
#main .now_num{
	font-size: 5vw;
	color: #fafafa;
	position: absolute;
	left: 29%;
	top:40%;
}
#main .past_num{
	font-size: 3.6vw;
	color: #000;
	position: absolute;
	right: 23%;
	top:48%;
}
#main button.kan_btn{
	width: 90%;
	border-radius: 15px;
	margin:3vw auto;
	display: block;
	background: #FF544C;
	font-size: 4.5vw;
	padding: 2vw 0;
	color:#fafafa;
	border: none;
	outline: none;
}
#menu{
	padding: 0 2%;
	margin: auto;
	background: #483B4D;
}
#menu ul{
	display: flex;
	border-radius: 8px;

	background:#635668;
	padding: 3vw 0;
	color: #fafafa;
	font-size: 4.5vw;
}
#menu ul li{
	width: 33%;
	float: left;
	text-align: center;
	border-right: 1px solid #999;
}
#menu ul li:last-child{
	border:none;
}
#box{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin:3vw 0 0;
	min-height: 50px;
	background: #635668;
	padding: 5vw;
}








