#main{
    max-width: 1400px;
    margin: 0 auto ;
    color: #333;
}
#main figure{
    display: inline-block;
    box-sizing: border-box;
    width: 48.5%;
    margin: 1vw 1vw 1vw 0; 
    position: relative;
    cursor: pointer;
    
}
#main figure:hover figcaption{
    background:rgba(255,255,255,0.8);
}
#main figure:hover figcaption p{
    display: block;
}
#main figure img{
   width: 98%;
   margin: auto;
}
#main figure figcaption{
    transform: none;
    width: 55%;
    height: 55%;
    background: rgba(255,255,255,0);
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    transition: background 1s;
}
#main figure figcaption p{
    display: none;
}
#main figure .tit{
    font-size: 1.7rem;
    color: #222;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;   
}
#main figure .sub_tit{
    font-size: .7rem;
    position: absolute;
    bottom: 15%;
    text-align: center;
    left: 0;right: 0;
    margin: auto;
}
footer{
    max-width: 1370px;
}

.zhuan img{
    animation: zhuan .6s;
}
@keyframes zhuan{
    0%{ border-radius: 50%; transform:rotate(0deg); }
    80%{ border-radius: 50%; transform:rotate(360deg); }
    100%{ border-radius:0; transform:rotate(360deg); }
}