#main{
    margin: 13vw 0 0 0;
    color:#fff;
    color: #333;
}
.item {
    margin: 6vw 0;
}
.item .pic{
    padding: 20vw 0;
    margin: 2vw auto;
    width: 94%;
    background: #eee;
    text-align: center;
}
.item h4{
    text-align: left;
    font-size: 4vw;
    padding: .5vw 5vw 0;
    color: #303030;
    font-weight: 400;
}
.item h6{
    font-size: 3vw;
    color: #6a6a6a;
    padding: 0 6vw 0;
    font-weight: 400;
}