<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/cases.css">
    <title>Document</title>
</head>
<body>
<include file='$inc_top_menu'/>
<div id="main">
    <h4>爱北欧风 享受慢生活</h4>
    <p class="top_tit">设计师：朱家桢</p>
    <p class="top_tit">设计师：陈国建</p>
    <p class="top_tit">设计师：周叶靖宇</p>
    <img class="item" src="__IMG__/case_show/1.jpg">
    <h5>设计师说：</h5>
    <p class="text">干净的北欧风</p>
    <p class="text">简洁的浅白</p>
    <p class="text">搭配明亮的黄</p>
    <p class="text">以简及多的空间概念</p>
    <p class="text">整体感舒适自然</p>
    <img class="item dia" src="__IMG__/case_show/2.jpg">
    <p class="text">整个客厅是清爽的质感</p>
    <p class="text">素净的白</p>
    <p class="text">明媚的黄</p>
    <p class="text">安静的椰子棕</p>
    <p class="text">优雅的豆绿</p>
    <p class="text">将空间的气质提升到新的高度</p>
    <img class="item dia" src="__IMG__/case_show/3.jpg">
    <p class="text">心中向往的北欧</p>
    <p class="text">不可或缺的是一抹米色阳光。</p>
    <p class="text">平顶搭配吊灯</p>
    <p class="text">再加上四五个小射灯</p>
    <p class="text">空间的明度便呈现出来</p>
    <p class="text">工作闲暇之余</p>
    <p class="text">躺在慵懒的棉麻质沙发上</p>
    <p class="text">窗边斜阳余晖透过纱幔撒在书本和主人的脸庞</p>
    <p class="text">是呀&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日子的情趣也不过如此</p>
    <img class="item dia" src="__IMG__/case_show/4.jpg">
    <img class="part" src="__IMG__/case_show/n1.png">
    
    <img class="esp" src="__IMG__/case_show/4.jpg">
    <img class="part" src="__IMG__/case_show/n2.png">

    <p class="text">黑胡桃木制的圆形茶几</p>
    <p class="text">暖白的灯光照在茶几上</p>
    <p class="text">将北欧的温柔感融为一体</p>
    <p class="text">简洁又不失现代感</p>
</div>

<include file="$inc_pic_text" title="案例" text="内容内容内容内容内容"/>
<include file='$inc_footer'/>
<include file='$inc_dialog'/>

</body>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src='__JS__/base.js'></script>
</html>


   