<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <link rel="stylesheet" type="text/css" href="__CSS__/swiper.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css">
    <title><yhcms:cfg_webname /></title>
</head>
<body>
<div id='banner' class="swiper-container">
    <div class="swiper-wrapper">
        <for start="1" end='18'>
            <div class="swiper-slide"><img src="__IMG__/bg/{$i}.jpg"></div>
        </for>
    </div>
</div>
<div id="bg">
    <include file='$inc_top_menu'/>
    <div class="text">
        <p class="c1">使命</p>
        <p class="d1">让设计成为心灵的伴侣，让空间变成活的灵魂</p>
        <p class="c1">愿景</p>
        <p class="d1">成为创意设计行业的引领者</p>
        <p class="c1">使命</p>
        <p class="d1">让设计成为心灵的伴侣，让空间变成活的灵魂</p>

     </div> 
    <div id="center">     
        <p class="tit">筑圆润 | 国际精品</p>
        <p><span>&nbsp;&nbsp;Zhu Yuan Run</span>&nbsp;<em> International Boutique</em> </p>
    </div>
</div>
</body>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src='__JS__/jquery.swiper.js'></script>
<script type="text/javascript" src='__JS__/base.js'></script>
<script type="text/javascript" src='__JS__/index.js'></script>
</html>