<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/call.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=FvEh9dkKto7qyuagscLZgnuUzYv1iA5c"></script>
    <title>Document</title>
</head>
<body>
<include file='$inc_top_menu'/>
<div id="main">
    <img src="__IMG__/case_show/1.jpg">
    <include file='$inc_about_info'/>
    <include file="$inc_pic_text" title="Zhu Yuan Run" text="国际精品家居领导者"/>
    <div id="allmap"></div>
</div>

<include file='$inc_footer'/>
</body>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src='__JS__/base.js'></script>
<script type="text/javascript" src='__JS__/map.js'></script>
</html>