header{
	width: 100%;
	height: 12vw;
	background: red;
	position: relative;
}

header .logo_img{
	width: 80%;
	height: 11vw;
	background: #fff;
}
header .logo_img img{
	width: 60%;
}
header .top_menu{
	position: absolute;
	top: 0;right: 0;
	width: 20%;
	height: 12vw;
	background: red;
	color: #fff;
	font-size: 6vw;
	line-height: 6vw;
}
header .top_menu .icon{
	display: block;
	font-size: 7vw;
	margin: 2vw auto 0;
}
#top_menu{
	display: none;
	width: 60%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	color: #fafafa;
	text-align: center;
	position: absolute;
	top: 0;right: 0;
	z-index: 100;
}
#top_menu li{
	display: block;
	padding: 5vw 0;
	border-bottom:1px solid #ccc;
	font-size: 4.2vw; 
}
#top_menu li:last-child{
	border: none;
}
#botton{
	height: 15vw;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 15vw;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #000;
	text-align: center;
	font-size: 3vw;
}
footer .icon{
	display: block;
	font-size: 6.8vw;
	margin: auto;
}
footer a{
	display: block;
	color: #fff;
}
.red{
	color: #FF1D1F;
}
#dialog{
	display: none;
	position: fixed;
	width: 90%;
	height: auto;
	left: 0;right: 0;
	top:15%;
	margin: 0 auto;
	z-index: 999;
}
#dialog .close{
	position: absolute;
	right: -3vw;
	top: -3vw;
	font-size: 7vw;
}
