*,div,p,ul,ol,body,html,img,header{
	padding:0;
	margin:0;
}
body{
	font-family: '微软雅黑';
	background: #EFEFF4;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	overflow: hidden;
}
.none{
	display: none;
}

