

#bottom{
	clear: both;
	height: 13vw;
}
footer{
	display: flex;
	justify-content: space-around;
	height: 6vh;
	position: fixed;
	bottom: 0;
	background: #000;
	width: 100%;
	text-align: center;
	align-items:center;
	padding: 1vh 0;
	z-index: 100;
}
footer div{
	flex: 1;
	font-size: 2.8vw;
	display: block;
	color: #fff;
	border-right: 1px solid #777;
}
footer div:last-child{
	border: none;
}
footer .icon{
	font-size: 6vw;
	margin: auto;
	display: block;
}