body{
	--bg--color:#010101;
	color:#fafafa;
}
#bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}
#bg img{
	width: 100%;
	height: 100%;
	display: block;
}
#main{
	width: 70%;
	height: 300px;
/*	border:1px solid #f60;*/
	position: relative;
	z-index: 2;
	margin:60% auto 0;
}
#main .tishi{
	font-size: 14px;
	color: #ccc;
}

#main .input{
	margin:0 auto 0;
	position: relative;
	z-index: 3;
}
#main .input_bg{
	width: 100%;
	height: 50px;
	opacity: 0.3;
	background: #eee;
	border-radius: 5px;
	z-index: 5;
}
#main input[type="text"]{
	display: block;
	width: 90%;
	border-radius: 5px;
	background: #666;
	border:none;
	outline: none;
	height: 40px;
	line-height: 40px;
	margin:0 auto;
	z-index: 10;
	font-size: 18px;
	padding: 0 0 0 5px;
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	margin: auto;
}

#main button{
	display: block;
	border-radius: 8px;
	background: #1F9E1F;
	border:1px solid #333;
	width: 100px;
	height: 40px;
	margin: 10px auto;
	color: var(--bg--color);
	font-size: 18px;
}

/***************************/
#dialog{
	display: none;
	width: 260px;
	height: 250px;
	background: #343434;
	position: absolute;
	left: 0;
	right: 0;
	top:22%;
	margin:auto;
	z-index: 999;
	border-radius: 10px;
	padding: 10px;

}
#dialog .pic{
	width: 140px;
	height: auto;
	display: block;
	border-radius: 5px;
	box-shadow: 0 0 2px #000;
	float: left;
}
#dialog .text{
	float: right;
	width: 110px;
	font-size: 18px;
}
#dialog .text .con{
	margin: 0 0 10px;
}
#dialog .btn{
	width: 80%;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin:auto;
	clear: both;
}
#dialog .btn button{
	width: 80px;
	height: 30px;
	background: #fefefe;
	border:none;
	color:#343434;
	border-radius: 5px;
}
#dialog .btn button:last-child{
	float: right;
}