html,body{
	--bg--color:#fdfdfd;
}
header img{
	width: 100%;
	display: block;
}
#title{	
	min-height: 50px;
	background: #fdfdfd;
	padding: 8px 0;
	width: 92%;
	margin:15px auto 0;
}
#title .tit{
	width: 100%;
	padding: 0 10px;
}
#title span{
	font-size: 13px;
}
#title span:nth-child(2){
	width: 60%;
	display:inline-block;
	text-align: center;
}

#title .title{
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	font-weight: 700;
}

#title #row{
	width: 90%;
	margin:15px auto 10px;
	height: 10px;
	background: #ccc;
	border-radius: 5px;
	position: relative;
}
#row .baifen{
	width: 40px;
	height: 30px;
	line-height: 30px;
	background: red;
	border-radius: 3px;
	text-align: center;
	color:#fafafa;
	position: absolute;
	top: -40px;
	transition: left 3s;

	left: 0;
}
 #row .bg_red{
	background: red;
	height: 100%;
	width: 0;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	transition: width 3s;
	
}
#title .info{
	display: flex;
	justify-content: space-between;
}
#title .info div{
	text-align: center;
	width: 33%;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
}
#title .info div:nth-child(3){
	border:none;
}
#title .info .strong{
	font-size: 20px;
	color:#f06;
}
#nav {
	width: 92%;

	background: var(--bg--color);
	margin:10px auto;
	display: flex;
	justify-content: space-around;
}
#nav button{
	height: 50px;
	line-height: 50px;
	width: 33%;
	border: none;
	background: #f9f9f9;
	text-align: center;
	font-size: 18px;

}
#main{
	width: 92%;
	margin:10px auto 60px;
	background: var(--bg--color);
	min-height: 200px;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #999;
	padding: 3px 0;
}
footer button{
	width: 47%;
	height: 45px;
	line-height: 45px;
	background: #E5C01B;
	border-radius: 10px;
	border: none;
	margin: 0 0 0 5px;
	font-size: 18px;
	color:var(--bg--color);
}
footer button:nth-child(2){
	margin: 0 5px 0 0;
	float: right;
	background: #F3212A;
}
/******************************/

#dialog{
	display: none;
	width: 260px;
	height: 170px;
	background: #343434;
	position: fixed;
	left: 0;
	right: 0;
	top:22%;
	margin:auto;
	z-index: 999;
	border-radius: 10px;
	padding: 10px;
}
#dialog .money_num{
	width: 30%;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	border:1px solid #f60;
	color:#fff;
	float: left;
	margin:0 0 0 7px;
	text-align: center;
	border-radius: 5px;
}
#dialog label{
	clear: both;
	text-align: center;
	color:#fff;
	font-size: 18px;
	display: block;
	margin:45px 0 0 0;

}
#dialog label input{
	width: 60%;
	border: none;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	padding: 3px 8px;
	font-size: 16px;
	margin:8px 0 0 0;
	text-align: center;
}
#dialog .btn{
	width: 80%;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin:auto;
	clear: both;
}
#dialog .btn button{
	width: 80px;
	height: 30px;
	background: #fefefe;
	border:none;
	color:#343434;
	border-radius: 5px;
}
#dialog .btn button:last-child{
	float: right;
}



















