
#main{
    margin: 13vw 0 0 0;
}
img{
    margin: 2vw auto;
}
h4{
    text-align: left;
    font-size: 4.5vw;
    padding: 3vw;
    color: #333;
    font-weight: 400;
}
.pic{
    width: 90%;
    margin: 3vw auto;
}
.pic figure{
    margin: 0 auto 5vw;
}
.pic figure .n1{
    padding: 0 2vw;
    font-size: 6vw;
    color: #000;
}
.pic figure .n1 span{
    border-bottom: 1px solid #793580;
}
.pic figure .n1 i{
    font-weight: 700;
    color: #101010;
    font-size: 7vw;
}
.pic figure .n2{
    text-align: right;
    font-size: 3.6vw;
    text-shadow: 0 0 10px #793580;
    margin: 0 2vw;
    color: #484848;
}
.pic figure img{
    margin:3vw  auto;
}
.pic figure .n3{
    font-size: 4vw;
    color: #333;
    font-weight: 600;
    text-align: center;
}
.pic figure .n4{
    font-size: 3.4vw;
    line-height: 5.5vw;
    color: #797779;
    font-weight: 600;
}
.pic figure .n5{
    text-align: right;
    font-size: 3.7vw;
    color: #222;
    padding: 1.5vw 0;
}
.full{
    margin: 3vw 0;
    position: relative;
}
.full .bg_text{
    text-align: center;
    height: 7vw;
    font-size: 5vw;
    color: #fff;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
}
.full span{
    display: block;
    width: 21%;
    margin: auto;
    padding: 1.5vw 0;
    font-size: 3.5vw;
    border-bottom: 1px solid #fff;
}
.text{
    width: 92%;
    margin: 1vw auto;
    color: #898989;
    font-size: 2.9vw;
    line-height: 5vw;
    letter-spacing:2px;
}
.text p{
    text-indent: 2vw;
}
.text em{
    display: block;
    font-size: 2.7vw;
    color: #666;
    letter-spacing:0;
}


