<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <link rel="stylesheet" type="text/css" href="__CSS__/swiper.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/home.css">
    <title><yhcms:cfg_webname /></title>
</head>
<body>
<include file="$inc_header"/>

<div id="banner" class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="__IMG__/banner1.jpg"></div>
        <div class="swiper-slide"><img src="__IMG__/banner2.jpg"></div>
        <div class="swiper-slide"><img src="__IMG__/banner3.jpg"></div>
    </div>
    <div class="swiper-pagination swiper-pagination-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div>
<div id="main">
    <figure>
        <img src='__P_IMG__/cases/1.jpg'>
        <figcaption>
            <p>卧室书房</p>
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-more"></use>
            </svg>
        </figcaption>
    </figure>
    <figure>
        <img src='__P_IMG__/cases/1.jpg'>
        <figcaption>
            <p>卧室书房</p>
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-more"></use>
            </svg>
        </figcaption>
    </figure>
</div>

<footer>
<span class="left">© 2017 PAL設計事務所有限公司 版權所有 隱私政策</span>

<a href="#top_mao" id='top_mao_link'>回到頁頂</a>
</footer>

</body>
<script type="text/javascript" src='//at.alicdn.com/t/font_5clg8l1wjulq5mi.js'></script>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src='__JS__/jquery.swiper.js'></script>
<script type="text/javascript" src='__JS__/home.js'></script>
</html>