<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <link rel="stylesheet" type="text/css" href="__CSS__/swiper.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/about.css">
    <title>Document</title>
</head>
<body>
<include file='$inc_top_menu'/>
<div id="main">
    <div class="full"> <img src="__IMG__/ren/bbb.jpg"> </div>
    <div class="text">
广发额噶尔噶尔哥啊还认识他几乎是同意见
广发额噶尔噶尔哥啊还认识他几乎是同意见
广发额噶尔噶尔哥啊还认识他几乎是同意见
广发额噶尔噶尔哥啊还认识他几乎是同意见
广发额噶尔噶尔哥啊还认识他几乎是同意见
    </div>
    <h4>我们的团队</h4>
    <div class="pic"> <img src="__IMG__/ren/xxx.jpg"><h5>设计总监 <strong>xxx</strong></h5> </div>
    <div class="pic"> <img src="__IMG__/ren/xxx.jpg"><h5>策划精英 <strong>xxx</strong></h5> </div>
    <div class="pic"> <img src="__IMG__/ren/xxx.jpg"><h5>设计助理 <strong>xxx</strong></h5> </div>

    <div class="full"> <img src="__IMG__/ren/bbb.jpg"> 
        <p class="bg_text">获奖案例<br>  <span>查看完整案例</span></p>
    </div>

     <h4>筑润园 生活馆</h4>
        <div class="text">
        广发额噶尔噶尔哥啊还认识他几乎是同意见
        广发额噶尔噶尔哥啊还认识他几乎是同意见
        广发额噶尔噶尔哥啊还认识他几乎是同意见
        广发额噶尔噶尔哥啊还认识他几乎是同意见
        广发额噶尔噶尔哥啊还认识他几乎是同意见
        <br><br>
        <p>电话: <a href="tel:18012804778">18012804778</a></p>
        <p>地址: 嘻嘻嘻嘻嘻嘻下嘻嘻嘻 </p>
        <p>邮箱: xxxxx@163.com </p>
    </div>
    
    <div class="last">
这里放 放大的logo图
    </div>
    <div id="power">
        <p>© 2017 PAL設計事務所有限公司 版權所有 </p>
        <p>隱私政策</p>
    </div>
</div>


</body>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src='__JS__/jquery.swiper.js'></script>
<script type="text/javascript" src='__JS__/top_menu.js'></script>
</html>