<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <link rel="stylesheet" type="text/css" href="__CSS__/swiper.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/cases.css">
    <title>Document</title>
</head>
<body>
<include file="$inc_header"/>
<div id="main">
    <figure>
        <img class="dia" src='__P_IMG__/cases/1.jpg'>
        <figcaption>
            <p class="tit">xxxx</p>
            <p class="sub_tit">bbbb</p>
        </figcaption>
    </figure>
    <figure>
        <img src='__P_IMG__/cases/2.jpg'>
        <figcaption>
            <p class="tit">xxxx</p>
            <p class="sub_tit">bbbb</p>
        </figcaption>
    </figure>
    <figure>
        <img src='__P_IMG__/cases/3.jpg'>
        <figcaption>
            <p class="tit">xxxx</p>
            <p class="sub_tit">bbbb</p>
        </figcaption>
    </figure>
    <figure>
        <img src='__P_IMG__/cases/4.jpg'>
        <figcaption>
            <p class="tit">xxxx</p>
            <p class="sub_tit">bbbb</p>
        </figcaption>
    </figure>
    <figure>
        <img src='__P_IMG__/cases/5.jpg'>
        <figcaption>
            <p class="tit">xxxx</p>
            <p class="sub_tit">bbbb</p>
        </figcaption>
    </figure>
    <figure>
        <img src='__P_IMG__/cases/6.jpg'>
        <figcaption>
            <p class="tit">xxxx</p>
            <p class="sub_tit">bbbb</p>
        </figcaption>
    </figure>

</div>
<include file="$inc_dialog"/>
<include file="$inc_footer"/>
</body>
<include file="$inc_JS"/>
<script type="text/javascript">
    $('figure figcaption').on('click',function(){
        $('#dialog .dialog_img').attr('src',$(this).prev('img').attr('src'));
        $('#dialog .dialog_img').css({bottom:0});
        $('#dialog').show();
    });

    $('#main figure figcaption').hover(function(){
        var _this=$(this).parent();
        if(_this.hasClass('zhuan'))
            _this.removeClass('zhuan')
        else
            _this.addClass('zhuan');
    })
</script>
</html>