<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <link rel="stylesheet" type="text/css" href="__CSS__/swiper.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/team.css">
    <title><yhcms:cfg_webname /></title>
</head>
<body>
<include file="$inc_header"/>
<div id="main">
    <img class="team_pic" src="__P_IMG__/team/all.jpg">



</div>
<include file="$inc_footer"/>
</body>
<script type="text/javascript" src='//at.alicdn.com/t/font_sga5f0cxcw86ko6r.js'></script>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src='__JS__/jquery.swiper.js'></script>
<script type="text/javascript" src='__JS__/home.js'></script>
</html>
    
